mixin storeForm(store = {})
  form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    .container
      label(for="name") Название
      input(type="text" name="name" value=store.name)
      label(for="description") Описание
      textarea(name="description")=store.description
      // Загрузка изображений
      label(for="photo") Изображение
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if store.photo
        img(src=`/uploads/${store.photo}`, alt=store.name width=200)
      //- Адрес, широта и долгота
      label(for="address") Адрес
      input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
      label(for="lng") Долгота
      input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]))
      label(for="lat") Широта
      input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]))
    - const choices = ['Стрижки', 'Маникюр', 'Педикюр', 'Оплата картой']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(
            tags.includes(choice)))
          label(for=choice)= choice
    input(type="submit" value='Сохранить' class="button")